<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>

<body>
    <div id="formWrapper">

        <div id="form">
            <div class="logo">

            </div>
            <div class="form-item">
                <input type="email" name="email" id="email" [(ngModel)]="username" class="form-style" autocomplete="off" placeholder="Nom d'utilisateur" />
            </div>
            <div class="form-item">
                <input type="password" name="password" id="password" [(ngModel)]="password" class="form-style" placeholder="Mot de passe" />
                <!-- <div class="pw-view"><i class="fa fa-eye"></i></div> -->

            </div>
            <div class="form-item">

                <input type="submit" class="login" value="Log In" (click)="login()" />
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
</body>